{
	presets: [
		["env", {
			"targets": {
				"node": "current"
			}
		}],
		"stage-2",
		"react"
	],
	plugins: [
		"transform-object-rest-spread",
		"babel-plugin-lodash",
		"transform-decorators-legacy",
		"syntax-jsx"
	]
}
